<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=@team.name%>
    <p>Team Motto: <%=@team.motto%></p> 
    <%Hero.all.each do |hero|%>
    <p><%=hero.name %></p>
    <p><%=hero.power %></p>
    <p><%=hero.biography %></p>
    <%end %>
  </body>
</html>


